body {
  font-family: "Arimo", sans-serif;
  font-family: "Bricolage Grotesque", sans-serif;
}

form {
  padding: 20px;
  margin-top: 10px;
  margin-left: 0;
}

.app-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.app-wrapper small {
  display: block;
  padding-top: 10px;
}

.app {
  display: block;
  border: 1px solid #5a6275;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.float-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currentTemp {
  padding: 10px;
  padding-left: 30px;
  margin-top: 20px;
  margin-left: 0;
  text-align: left;
}

.currentTemp h6 {
  color: #5a6275;
}

.currentCity {
  padding: 10px;
  padding-right: 30px;
  margin-top: 20px;
  margin-right: 0;
  text-align: right;
}

.currentCity h6 {
  color: #5a6275;
}

.units {
  color: #5a6275;
  font-size: 18px;
  position: relative;
  top: -15px;
}

.units a {
  text-decoration: none;
}

.selectedUnit {
  font-weight: bold;
  color: #5a6275;
  cursor: default;
}

.col {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.col h6 {
  color: #5a6275;
}

.btn-info {
  margin-right: 20px;
}

.day-maxTemp {
  font-weight: bold;
}

#temp {
  font-size: 58px;
  font-weight: 600;
}

#icon {
  padding: 0;
  margin: 0;
}

#city {
  font-weight: 600;
}

#codeSrc a {
  color: #5a6275;
  text-decoration: none;
}
